<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>WeShare</title>
<link href="../css/Wopop_files/style_log.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../css/Wopop_files/style.css">
<link rel="stylesheet" type="text/css" href="../css/Wopop_files/userpanel.css">
<link rel="stylesheet" type="text/css" href="../css/Wopop_files/jquery.ui.all.css">
    <link rel="shortcut icon" type="text/css" href="../css/images/circle.png" />
    <script src="../js/jquery/jquery.3.2.1.min.js" type="text/javascript"></script>
</head>
<!--class="login"-->
<body  mycollectionplug="bind">
<div class="login_m">
<div class="login_logo"><img src="../css/Wopop_files/logo.png" width="200" height="47"></div>
<div class="login_boder">

<div class="login_padding" id="login_model">

    <form id="submitform">
  <h2>账户名</h2>
  <label>
    <input type="text" id="username" name="uUsername" class="txt_input txt_input2" onfocus="if (value ==&#39;输入你的账户名&#39;){value =&#39;&#39;}" onblur="if (value ==&#39;&#39;){value=&#39;输入你的账户名&#39;}" value="输入你的账户名">
  </label>
  <h2>密码</h2>
  <label>
    <input type="password" name="uPassword" id="userpwd" class="txt_input" onfocus="if (value ==&#39;******&#39;){value =&#39;&#39;}" onblur="if (value ==&#39;&#39;){value=&#39;******&#39;}" value="******">
  </label>



    <p class="forgot"></p>
  <!--<p class="forgot">已经有账户-<a id="iforget" href="javascript:void(0);">登录</a></p>-->
  <div class="rem_sub">
  <div class="rem_sub_l">
   </div>
        <a href="../l" style="position: relative;top:10px;cursor: pointer">返回登录</a>
      <input type="button" class="sub_button"  id="submit" value="注册" style="opacity: 0.7;">
    </label>
  </div>
        </form>
</div>

<div id="forget_model" class="login_padding" style="display:none">


 
  <div class="rem_sub">
  <div class="rem_sub_l">
   </div>
    <label>
     <input type="submit" class="sub_buttons" name="button" id="Retrievenow" value="Retrieve now" style="opacity: 0.7;">
     　　　
     <input type="submit" class="sub_button" name="button" id="denglou" value="Return" style="opacity: 0.7;">　　
    
    </label>
  </div>
</div>






<!--login_padding  Sign up end-->
</div><!--login_boder end-->
</div><!--login_m end-->
 <br> <br>
<p align="center">Powered By &copy;<a href="">Weshare Guolin & Yuhong</a></p>



</body>
<script>

    $("body").on('click','#submit',function(){
        var username = $("#username").val();
        var pass = $("#userpwd").val();
        var data = {
            "uUsername":username,
            "uPassword":pass
        };

        var jsondata = JSON.stringify(data);
        var url = "../rigist";
        $.ajax({
            url:  url,
            dataType: "json",
            type:"post",
            processData:false,
            contentType:"application/json;charset=UTF-8",
            data:jsondata,
            success:function(data){
                if(data.success){
                    alert(data.message);
                    location.href="../";
                }
                else{
                    alert(data.message);
                }
            },
            error:function(data){
                alert("未知错误！");
            }

        });

    });
</script>

</html>